Label {
    -fx-font: 22px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#7f5539";
}
Ellipse {
    -fx-fill: "502c12";
}
#sizePriceLabel, #milkPriceLabel, #flavorPriceLabel, #totalPriceLabel {
    -fx-font: 22px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#502c12";
}
#sizeOption1PriceLabel, #sizeOption2PriceLabel, #sizeOption3PriceLabel,
#milkOption1PriceLabel, #milkOption2PriceLabel, #milkOption3PriceLabel,
#flavorOption1PriceLabel, #flavorOption2PriceLabel, #flavorOption3PriceLabel {
    -fx-font: 18px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#502c12";
}
#titleLabel {
    -fx-font: 26px "Sans";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#ede0d4";
}
Rectangle {
    -fx-fill: "#ede0d4";
}
RadioButton {
    -fx-font: 18px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#7f5539";
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: "502c12";
    -fx-background-color: "ede0d4";
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button:selected .radio .dot {
    -fx-background-color: "502c12";
    -fx-background-insets: 0;
}
CheckBox {
    -fx-font: 18px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#7f5539";
}
.check-box .box {
    -fx-padding: 2;
    -fx-background-color: "ede0d4";
    -fx-border-color: "502c12";
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.check-box:selected .mark {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-background-color: "ede0d4";
}
.check-box:selected .box {
    -fx-background-color: "502c12";
}
.button {
    -fx-font: 16px "Arial";
    -fx-text-fill: "#ede0d4";
    -fx-font-weight: BOLD;
    -fx-background-color: "#7f5539";
}
.button:pressed {
    -fx-background-color: "#502c12";
    -fx-text-fill: "#ede0d4";
}
#BackButton:pressed {
    -fx-background-color: "#ede0d4";
    -fx-text-fill: "#502c12";
}
#PickUpLabel, #CartLabel {
    -fx-font: 22px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#7f5539";
}
#CartTotalLabel {
    -fx-font: 22px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#502c12";
}
#CartTitleLabel {
    -fx-font: 26px "Sans";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#ede0d4";
}
.list-view {
    -fx-background-color: "#ede0d4";
}
#headerBar {
    -fx-background-color: "#502c12";
    -fx-effect: dropshadow(three-pass-box, #674027FF, 10, .07, 0.5,0.5);
}
VBox {
    -fx-background-color: "#ede0d4";
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
#SideImageLeftVBox, #SideImageRightVBox {
    -fx-background-color: "#bbaea3";
}
AnchorPane {
    -fx-background-color: "#bbaea3";
}
.track {
    -fx-background-color: "#7f5539";
}
.separator .line{
    -fx-border-color: "#502c12";
    -fx-border-width: 4px;
    -fx-border-style: solid;
}
