.button {
    -fx-font: 16px "Arial";
    -fx-text-fill: "#ede0d4";
    -fx-font-weight: BOLD;
    -fx-background-color: "#7f5539";
}

.button:pressed {
    -fx-background-color: "#502c12";
    -fx-text-fill: "#ede0d4";
}

#CartButton:pressed {
    -fx-background-color: "#ede0d4";
    -fx-text-fill: "#502c12";
}

#TempLabel {
    -fx-font: 22px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: "#7f5539";
}

#AppLabel {
    -fx-font: 26px "Arial";
    -fx-font-weight: BOLD;
    -fx-text-fill: #ede0d4;
}

#HeaderBar {
    -fx-background-color: "#502c12";
    -fx-effect: dropshadow(three-pass-box, #3b200b, 10, .07, 0.5,0.5);
}

VBox {
    -fx-background-color: "#ede0d4";
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

BorderPane {
    -fx-background-color: "#bbaea3";
}

.separator .line{
    -fx-border-color: "#502c12";
    -fx-border-width: 4px;
    -fx-border-style: solid;
}

Pane {
    -fx-background-color: "#ede0d4";
}

.list-view {
    -fx-background-color: transparent;
}