.button {
    -fx-font: 16px Arial;
    -fx-text-fill: white;
    -fx-font-weight: BOLD;
    -fx-background-color: #45240a;
}
.button:pressed {
    -fx-background-color: #502c12;
    -fx-text-fill:  white ;
}
#CartButton {
    -fx-text-fill: #361d09;
    -fx-background-color: white;
}
#CartButton:focused {
    -fx-background-color: #cccbc9;
    -fx-text-fill:  #361d09;
}
#TempLabel {
    -fx-font: 22px  Arial ;
    -fx-font-weight: BOLD;
    -fx-text-fill:  #361d09;
}
#item1Name, #item2Name, #item3Name, #item4Name, #item5Name, #item6Name,
#item7Name, #item8Name, #item9Name, #item10Name, #item11Name, #item12Name {
    -fx-text-fill:  #361d09;
    -fx-font-size: 16px;
}
#AppLabel {
    -fx-font: 26px Arial;
    -fx-font-weight: BOLD;
    -fx-text-fill: white;
}
#HeaderBar {
    -fx-background-color: #45240a;
    -fx-effect: dropshadow(three-pass-box, #1f0f04, 10, .07, 0.5,0.5);
}
#rect {
    -fx-stroke-width: 2;
    -fx-stroke: #361d09;
}
VBox, Pane {
    -fx-background-color: white;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}
BorderPane {
    -fx-background-color: #bbaea3;
}
.separator .line{
    -fx-border-color: #361d09;
    -fx-border-width: 4px;
    -fx-border-style: solid;
}
